In [3]:
# 📝 Lecture Script: Basic Operations with a DataFrame
# ===================================================
# This script demonstrates:
# 1. Selecting specific columns and rows.
# 2. Performing mathematical operations.
# 3. Adding new columns.
# 4. Advanced DataFrame manipulations.
# Let’s explore the magic of Pandas! 🐼✨

# ------------------------------
# 🔹 1. Import Required Libraries
# ------------------------------
import pandas as pd

# Sample Dataset
data = {
    "CountryName": ["Aruba", "Afghanistan", "Angola", "Albania", "Argentina", "Armenia", "Australia"],
    "CountryCode": ["ABW", "AFG", "AGO", "ALB", "ARG", "ARM", "AUS"],
    "BirthRate": [10.244, 35.253, 45.985, 12.877, 17.716, 13.308, 12.567],
    "InternetUsers": [78.9, 5.9, 19.1, 57.2, 59.9, 41.9, 88.0],
    "IncomeGroup": ["High income", "Low income", "Upper middle income", "Upper middle income", "High income", "Upper middle income", "High income"],
}

# Create a DataFrame
stats = pd.DataFrame(data)

# Display the DataFrame
print("📊 Original DataFrame:")
print(stats)

# ------------------------------
# 🔹 2. Selecting Specific Columns and Rows
# ------------------------------
# Select specific columns
selected_columns = stats[["CountryCode", "BirthRate", "InternetUsers"]]

print("\n✅ Selected Columns:")
print(selected_columns)

# Select rows 4 to 7 (exclusive of 8)
selected_rows = stats.iloc[4:8]

print("\n✅ Selected Rows (4-7):")
print(selected_rows)

# ------------------------------
# 🔹 3. Mathematical Operations
# ------------------------------
# Calculate a new metric: BirthRate * InternetUsers
result = stats["BirthRate"] * stats["InternetUsers"]

print("\n✅ Result of BirthRate * InternetUsers:")
print(result.head())  # Display the first few rows

# ------------------------------
# 🔹 4. Adding a New Column
# ------------------------------
# Add the calculated result as a new column
stats["MyCalc"] = stats["BirthRate"] * stats["InternetUsers"]

print("\n✅ DataFrame with New Column:")
print(stats.head())

# ------------------------------
# 🔹 5. Filtering Data (Advanced Example)
# ------------------------------
# Filter rows where InternetUsers > 50
filtered_data = stats[stats["InternetUsers"] > 50]

print("\n✅ Filtered Data (InternetUsers > 50):")
print(filtered_data)

# ------------------------------
# 🔹 6. Adding an Advanced Column with Conditions
# ------------------------------
# Add a column based on conditions
stats["HighUsage"] = stats["InternetUsers"].apply(lambda x: "High" if x > 50 else "Low")

print("\n✅ DataFrame with Conditional Column:")
print(stats.head())

# ------------------------------
# 🔹 7. Renaming and Cleaning
# ------------------------------
# Rename a column for clarity
stats.rename(columns={"MyCalc": "AdjustedRate"}, inplace=True)

print("\n✅ DataFrame with Renamed Column:")
print(stats.head())

📊 Original DataFrame:
   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income
4    Argentina         ARG     17.716           59.9          High income
5      Armenia         ARM     13.308           41.9  Upper middle income
6    Australia         AUS     12.567           88.0          High income

✅ Selected Columns:
  CountryCode  BirthRate  InternetUsers
0         ABW     10.244           78.9
1         AFG     35.253            5.9
2         AGO     45.985           19.1
3         ALB     12.877           57.2
4         ARG     17.716           59.9
5         ARM     13.308           41.9
6         AUS     12.567           88.0

✅ Selected Rows (4-7):
  CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
4   Argentina         ARG     17.716           59.9          High income
5     Armenia         ARM     13.308           41.9  Upper middle income
6   Australia         AUS     12.567           88.0          High income

✅ Result of BirthRate * InternetUsers:
0     808.2516
1     207.9927
2     878.3135
3     736.5644
4    1061.1884
dtype: float64

✅ DataFrame with New Column:
   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup  \
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income
4    Argentina         ARG     17.716           59.9          High income

      MyCalc
0   808.2516
1   207.9927
2   878.3135
3   736.5644
4  1061.1884

✅ Filtered Data (InternetUsers > 50):
  CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup  \
0       Aruba         ABW     10.244           78.9          High income
3     Albania         ALB     12.877           57.2  Upper middle income
4   Argentina         ARG     17.716           59.9          High income
6   Australia         AUS     12.567           88.0          High income

      MyCalc
0   808.2516
3   736.5644
4  1061.1884
6  1105.8960

✅ DataFrame with Conditional Column:
   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup  \
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income
4    Argentina         ARG     17.716           59.9          High income

      MyCalc HighUsage
0   808.2516      High
1   207.9927       Low
2   878.3135       Low
3   736.5644      High
4  1061.1884      High

✅ DataFrame with Renamed Column:
   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup  \
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income
4    Argentina         ARG     17.716           59.9          High income

   AdjustedRate HighUsage
0      808.2516      High
1      207.9927       Low
2      878.3135       Low
3      736.5644      High
4     1061.1884      High